<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://marcaesports-prod-images.imgix.net/2018/01/04092437/tetris.jpg?fit=crop&fm=pjpg&h=383&w=680&wpsize=marcaesports_large" width="30" height="30" class="d-inline-block align-top" alt=""> Tetris Battleground
    </a>
</nav>

<template id="player-template">
  <div class="player">
      <div class="score"></div>
      <canvas class="tetris" width="240" height="400"></canvas>
  </div>
</template>

<div id="container-players">

</div>