<ul class="nav nav-tabs">

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuario en linea</a>
        <div class="dropdown-menu">

            <a class="dropdown-item" *ngFor="let user of usersOnline" (click)="addChat(user.username, user.id_chat_correspondent)">{{user.username}}</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
        </div>
    </li>

    <li *ngFor="let chat of chats" class="nav-item" (click)="changeChat(chat.id_chat)">
        <a class="nav-link" [ngClass]="{'active': idChatSelected === chat.id_chat}">{{chat.user_contact}}</a>
    </li>

    <!--
    <li class="nav-item" (click)="changeChat(1)">
        <a class="nav-link" [ngClass]="{'active': idChatSelected === 1}">Global</a>
    </li>

    <li class="nav-item" (click)="changeChat(2)">
        <a class="nav-link" [ngClass]="{'active': idChatSelected === 2}">CharlieUwU</a>
    </li>
-->

</ul>

<div class="chat-message">

    <ul class="chat">

        <div class="scrollbar scrollbar-primary" id="scroll">
            <div class="force-overflow">

                <li class="left clearfix" *ngFor="let message of messages">

                    <span class="chat-img pull-left">
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                    </span>

                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{message.username}}</strong>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                        </div>
                        <p>
                            {{message.content}}
                        </p>
                    </div>

                </li>

            </div>
        </div>

    </ul>
</div>

<div class="chat-box bg-white">
    <div class="input-group">
        <input #message class="form-control border no-shadow no-rounded" placeholder="Type your message here">

        <span class="input-group-btn">
            <button (click)="sendMessage(idChatSelected, 'Marco', message)" class="btn btn-success no-rounded" type="button">Send</button>
        </span>
    </div>
    <!-- /input-group -->
</div>