<div class="chat-message">

    <ul class="chat">

        <div class="scrollbar scrollbar-primary" id="scroll">
            <div class="force-overflow">

                <li class="left clearfix" *ngFor="let message of messages">

                    <span class="chat-img pull-left">
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                    </span>

                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{message.username}}</strong>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                        </div>
                        <p>
                            {{message.content}}
                        </p>
                    </div>

                </li>

            </div>
        </div>

    </ul>
</div>

<div class="chat-box bg-white">
    <div class="input-group">
        <input #message class="form-control border no-shadow no-rounded" placeholder="Type your message here">

        <span class="input-group-btn">
            <button (click)="sendMessage('Marco', message)" class="btn btn-success no-rounded" type="button">Send</button>
        </span>
    </div>
    <!-- /input-group -->
</div>