<!--
<div class="panel panel-primary">
    <div class="panel-heading">

        <div class="panel-body">

            <ul class="chat">


                <li class="left clearfix" *ngFor="let message of messages">

                    <span class="chat-img pull-left">
                        <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                    </span>

                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{message.username}}</strong> <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                        </div>
                        <p>
                            {{message.content}}
                        </p>
                    </div>
                </li>

            </ul>

        </div>

        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." #message>
                <span class="input-group-btn">
                          <button (click)="sendMessage('Marco', message)" class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                      </span>
            </div>
        </div>
    </div>
</div>

-->

<!-- selected chat -->

<div class="chat-message">



    <ul class="chat">

        <div class="scrollbar scrollbar-primary" id="scroll">
            <div class="force-overflow">

                <li class="left clearfix" *ngFor="let message of messages">

                    <span class="chat-img pull-left">
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                    </span>

                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{message.username}}</strong>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                        </div>
                        <p>
                            {{message.content}}
                        </p>
                    </div>

                </li>

            </div>
        </div>

    </ul>
</div>

<div class="chat-box bg-white">
    <div class="input-group">
        <input #message class="form-control border no-shadow no-rounded" placeholder="Type your message here">

        <span class="input-group-btn">
            <button (click)="sendMessage('Marco', message)" class="btn btn-success no-rounded" type="button">Send</button>
        </span>
    </div>
    <!-- /input-group -->
</div>