<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://marcaesports-prod-images.imgix.net/2018/01/04092437/tetris.jpg?fit=crop&fm=pjpg&h=383&w=680&wpsize=marcaesports_large" width="30" height="30" class="d-inline-block align-top" alt=""> Tetris Battleground
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/login">Sign in<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container top-30">
    <form>
        <div class="form-group">
            <label for="InputUsername">Nombre de usuario</label>
            <input #username type="text" class="form-control" id="InputUsername" aria-describedby="emailHelp" placeholder="Usuario">
        </div>

        <div class="form-group">
            <label for="InputPassword">Contraseña</label>
            <input #password type="password" class="form-control" id="InputPassword" placeholder="Contraseña">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Mantener sesión abierta en esta computadora</label>
        </div>

        <button type="submit" class="btn btn-primary" (click)="doLogin(username.value, password.value)">Ingresar</button>
    </form>
</div>


<button class="btn btn-primary" (click)="doSignUp(username.value, password.value)">Test</button>